/*----------
	LAYOUT
-----------*/

body{
	background-color: #D5D5D5;
	overflow-x: hidden; 
}
.navbar{
	margin-top: 5px;
}

.cart-icon{
	margin-right: 80px;
}

.error{
	font-weight: bold;
	color: red;
}
/*------------
	LOGIN
--------------*/
.login-wrapper{
	height: 400px;
	margin-top: 150px;
	border: 3px solid black;
	border-radius: 10px;
	text-align: center;
	padding: 3% 6% 9% 6%;
	background: url('portalshop.png') no-repeat;
	background-size: 100%;
}
.login-wrapper form{
	margin-left: 10%;
}

#login p label{
	width: 100px;
	text-align: right;
	padding-right: 10px;
}




/*-------------
	CATALOGO
------------ */
.heading{
	margin-left: 25px;
}
.producto{
	display:block;
	height: 280px;

}
.producto-title{
	display:block;
	height: 30px;
	border-bottom: 1px solid white;
}
.producto_wrapper{
	background-color: #666;
	display: inline-block;
	height: : 200px;
	margin: auto;
	padding: 2%;
	border-radius: 60px 10px 60px 10px;
	-moz-border-radius: 60px 10px 60px 10px;
	-webkit-border-radius: 60px 10px 60px 10px;
	border: 6px inset #A70A0d;	
}
.producto_wrapper a{
	color: white;
	text-decoration: none;
}

.producto-img{
	display:block;
	margin:auto;
	width: 85%;
	height: 150px;
}
strong{

	color:white;
}


