body{
	background-color: #D5D5D5;
	overflow-x: hidden; 
}


.heading{
	margin-left: 25px;
}
.producto{
	display:block;
	height: 280px;

}
.producto-title{
	display:block;
	height: 30px;
	border-bottom: 1px solid white;
}
.producto_wrapper{
	background-color: #666;
	display: inline-block;
	height: : 200px;
	margin: auto;
	padding: 2%;
	border-radius: 60px 10px 60px 10px;
	-moz-border-radius: 60px 10px 60px 10px;
	-webkit-border-radius: 60px 10px 60px 10px;
	border: 6px inset #A70A0d;	
}
.producto_wrapper a{
	color: white;
	text-decoration: none;
}

.producto-img{
	display:block;
	margin:auto;
	width: 85%;
	height: 150px;
}
strong{

	color:white;
}
ps-navbar{
	margin: 50px 0px;
}

